@charset 'UTF-8';

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

/* COMPASS components
---------------------------------------------------- */
@import 'compass/reset';
@import 'compass/css3';
@import 'compass/utilities';
@import 'compass/layout';

/* COMPASS sprite
---------------------------------------------------- */
$sprite-layout: smart;
$sprite-sprite-dimensions: true;
@import "sprite/*.png";

.clearfix:after {
  clear: both;
  display: block;
  content: '';
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #505050;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #fff;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  margin: 20px 0 40px 0;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

b {
  font-weight: 700;
  color: #FFA500;
}

app {
  display: block;
  @extend .clearfix
}

@import "parking";
@import "generate-car";
@import "generate-parking";